@{
    ViewBag.Title = "About";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Main.css" />
</head>

<body class="body-aboutus">
    <div class="jumbotron">
        <h2>About BlowOut Instrument Rentals</h2>
        <h3>Our Mission:</h3>
        <p class="lead">
            Our mission is simple - To give you the best instruments in the market by blowing the competition out of the water!
        </p>
        <h3>Our Founder:</h3>
        <p>John Blow - Founded the company in 2007</p>
        <img src="~/Graphics/JohnBlowUkulele.jpg"/>
        <br />
        <p><a href="~/Home/Index" class="btn btn-primary btn-lg blue-button">Return Home &raquo;</a></p>
    </div>
</body>