@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/Main.css" />
</head>

<body class="body-landing">
    <div class="jumbotron" style="text-align:center">
        <h1>Welcome to Blow Out!</h1>
        <p>Home of the finest instrument rentals, we guarantee you will be satisfied!</p>
        <p class="lead">
            We will make your rental experience fun and easy.<br />
            You can rent both new and used instruments.<br />
            Click the link below to start renting today!
        </p>
        <p><a href="~/Home/Rentals" class="btn btn-primary btn-lg blue-button">Rent Instruments Now &raquo;</a></p>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <p class="lead white-bg text-center">
                "It's easy to play any musical instrument:<br />
                all you have to do is touch the right key at the right time and the instrument will play itself”.<br />
                - Johann Sebastian Bach
            </p>
        </div>
    </div>

    <div class="row">
        <!-- Link to Rentals-->
        <div class="col-md-4 bg-light text-dark" style="text-align:center">
            <h2 class="white-bg">Premium Rentals</h2>
            <p class="white-bg">
                Whether you are renting for the long-term or just a short period, we commit to giving you the best service anywhere.
                We guarantee you will love the quality of instruments we provide.
            </p>
            <p><a class="btn btn-default blue-button" href="~/Home/Rentals">Rent today &raquo;</a></p>
        </div>
        <!-- Link to About -->
        <div class="col-md-4 bg-light text-dark" style="text-align:center">
            <h2 class="white-bg">About BlowOut</h2>
            <p class="white-bg">
                We have been in the rental business since early 2007.
                Our core beliefs are providing quality rentals, treating customers like family, and bringing joy to others through music.
            </p>
            <p><a class="btn btn-default blue-button" href="~/Home/About">Learn more &raquo;</a></p>
        </div>
        <!-- Link to Contact -->
        <div class="col-md-4 bg-light text-dark" style="text-align:center">
            <h2 class="white-bg">Contact Us</h2>
            <p class="white-bg">
                You can contact us by phone, email, or making an appointment with our instrument rental specialists. Whatever method you choose,
                we would love to hear from you today!
            </p>
            <p><a class="btn btn-default blue-button" href="~/Home/Contact">Contact us &raquo;</a></p>
        </div>
    </div>
</body>