.body-landing {
    background-image: url(../Graphics/JohnBlow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body-contact {
    background-image: url(../Images/Contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body-rentals {
    background-image: url(../Images/Rentals.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body-instruments {
    background-image: url(../Images/AllrentalsBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.body-aboutus {
    background-image: url(../Images/AboutUs.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.white-bg {
    background: #eee !important;
    border-radius: 5px;
    padding: 10px;
}

.blue-button {
    background: #3e50a4;
    color: white;
    border-width: 1px;
    border-color: black;
}
